{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "jsxBracketSameLine": true,
  "proseWrap": "always",
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore"
}
